#section-discover {
    background-image: url("../../public/img/js_projet_web/images/cta-bg.jpg");
    background-attachment: fixed;
    height: 75vh;
    text-align: center;

    h2 {
        padding-top: 300px;
        color: white;
        margin-bottom: 40px;
    }
}