#section-shipping {
    .col-12 {
        padding: 0 15px;
        div {
            background-color: #f3f3f3;
        }
        i {
            margin-top: 75px;
            margin-bottom: 50px;
            font-size: 35px;
        }
    
        a {
            margin-bottom: 75px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}